* {
    text-align: center;
}

.img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

h1,
h2 {
    font-family: 'Gaegu', cursive;
}

body {
    font-family: 'Poor Story', cursive;
    background-color: rgb(237, 243, 237);
}